<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
<h2>Need to see our doctors?</h2>
<p>Submit your details via the form below. </p>
<form method="post" action="/viewbooking" >
    <label>Fullname</label><br>
    <input type="text" name="fullname" ><br>
    <label>email address</label><br>
    <input type="email" name="email"><br>
    <label>Age</label><br>
    <input type="number" name="age"><br>
    <input type="submit" name="submit">
</form>

</body>
</html>